[submodule "packages/imgui"]
	path = packages/imgui
	url = https://github.com/ocornut/imgui
[submodule "packages/glfw"]
	path = packages/glfw
	url = https://github.com/glfw/glfw
[submodule "packages/Ignis"]
	path = packages/Ignis
	url = https://github.com/oliverjakobs/Ignis
[submodule "packages/glm"]
	path = packages/glm
	url = https://github.com/g-truc/glm
